.app-form{
	max-width: 800px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.app-form fieldset{
	border: none;
}
.app-form legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.app-form label {
	display: block;
	margin-bottom: 8px;
}
.app-form input[type="text"],
.app-form input[type="email"],
.app-form textarea,
.app-form select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.app-form input[type="text"]:focus,
.app-form input[type="email"]:focus,
.app-form textarea:focus,
.app-form select:focus{
	background: #d2d9dd;
}
.app-form select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.app-form .number {
	background: #879b39;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.app-form input[type="submit"],
.app-form input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #879b39;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #788935;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.app-form input[type="submit"]:hover,
.app-form input[type="button"]:hover
{
	background: #788935;
}

.uniform {
	margin: 20px;
}

div input[name="pg1Name"] {
	margin-bottom: 0px;
}